.description {
  padding: 92px $sectionPadding;
  display: flex;
  justify-content: center;
  align-items: center;

  p,
  .gradient {
    font-size: 4.42vw;
    text-align: center;
    line-height: 92%;
  }

  .gradient {
    background: linear-gradient(270deg, #9e2fff 0%, #ff9e2f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
