.description {
  padding: 92px $sectionPadding;
  display: flex;
  justify-content: center;
  align-items: center;

  p,
  .gradient {
    font-size: 24px;
    text-align: center;
    line-height: 92%;

    @media (min-width: 1300px) {
      font-size: 52px;
    }
    @media (min-width: 540px) {
      font-size: 3.5vw;
    }
  }

  .gradient {
    background: linear-gradient(270deg, #9e2fff 0%, #ff9e2f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
