.description{
    padding: 92px $sectionPadding;
    display: flex;
    justify-content: center;
    align-items: center;

p{
    line-height: 42px;
    font-size: 44px;
}

.gradient{
    line-height: 42px;
    font-size: 44px;
    background: linear-gradient(270deg, #9E2FFF 0%, #FF9E2F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

    }