.hero {
  padding: 0 $sectionPadding;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 76px;

  p {
    max-width: 339px;
  }
  @media (max-width: 1015px) {
    flex-direction: column-reverse;
    gap: unset;

    p {
      text-align: center;
    }
  }

  @media (max-width: 560px) {
    .image {
      width: 250px;
      height: 480px;
    }

    h1 {
      font-size: 48px;
      text-align: center;
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
  }

  h1 {
    font-size: 84px;
    font-weight: 700;
    line-height: 79px;
    letter-spacing: 0;
    margin: 0;
    background: linear-gradient(270deg, #9e2fff 0%, #ff9e2f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .buttonsWrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    row-gap: 15px;
  }
}
