.hero {
  padding: 0 $sectionPadding;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;

  aside{
    display: flex;
    flex-direction: column;
    row-gap: 36px;
  }

  h1 {
    font-size: 84px;
    font-weight: 700;
    line-height: 79px;
    letter-spacing: 0em;
    text-align: right;
    margin: 0;
  }

  p{
    font-size: 20px;
    line-height: 24px;
    text-align: right;
  }

  .buttonsWrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    row-gap: 15px;
  }
}
