.buyBook {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 46px;
  background: linear-gradient(
    270deg,
    rgba(158, 47, 255, 0.3) 0%,
    rgba(255, 158, 47, 0.3) 100%
  );
  padding: 20px $sectionPadding 0;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    gap: unset;
    h2,
    p {
      text-align: center;
    }
    .buttonsWrapper {
      justify-content: center;
    }
  }
  // .bookImage{
  //   position: relative;
  //   width: 100%;
  //   height: auto;
  // }
  > div {
    flex: 1;
  }
  h2 {
    margin-bottom: 37px;
  }

  p {
    margin-bottom: 33px;
  }

  .buttonsWrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    row-gap: 15px;

    .inputContainer {
      position: relative;

      .codeInput {
        height: 41px;
        background: #09040f;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        border-radius: 8px;
        padding: 10px;
        color: #deceec;

        &::placeholder {
          color: #deceec;
        }
      }

      .errorMessage {
        color: red;
        position: absolute;
        font-size: 15px;
        padding-top: 5px;
      }
    }
  }
  .imgWrapper {
    display: flex;
    justify-content: center;
    img {
      scale: 1.1;
    }
  }
}
