* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // font-family: 'Inter', serif;
  font-style: normal;
  color: #deceec;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 46px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: none;
  text-align: right;
  cursor: pointer;
}

span {
  font-size: 20px;
  line-height: 24px;
}

.ratesSection {
  .swiper {
    width: 100%;
  }

  .swiper-slide {
    width: fit-content !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #9e2fff !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 450px;

    @media (max-width: 768px) {
      display: none !important;
    }
  }

  .swiper-button-prev {
    left: -50px;
  }

  .swiper-button-next {
    right: -50px;
  }

  .imagesSwiper {
    max-width: 800px;
    height: 150px;
    position: relative;
    top: 75px;
    .swiper-wrapper {
    }
    .swiper-slide {
      height: 125px;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 0.3s;

      img {
        border-radius: 8px;
        height: 50px;
        width: 50px;
        transition: 0.3s;
      }
      .imagesSwiperName {
        text-align: center;
        position: relative;
        top: 0;
        margin: 0;
        transition: 0.3s;
        opacity: 0;
      }
    }
    .swiper-slide-active {
      width: 100px;
      img {
        transform: translateY(50%) scale(2);
      }
      .imagesSwiperName {
        top: 55px;
        opacity: 1;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      color: #c6c5c7;
    }
  }
}
