* {
  box-sizing: border-box;
  background-color: #09040F;
  color: #fff;

  body{
    background-color: #09040F;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
  }


  span{
    font-size: 20px;
    line-height: 24px;
}
      
}
