.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  display: flex;

  display: flex;
  flex-wrap: nowrap;

  background: linear-gradient(270deg, #9e2fff 0%, #ff9e2f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  opacity: 0.1;
}

.parallax span {
  display: block;
  margin-right: 30px;
  font-size: 60px;
  line-height: 60px;
  width: 170px;
}
