.header{
    margin: 0 240px;
    margin-top: 43px;
    display: flex;

    .wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .logo{
        display: inline-flex;
        align-items: center;
        gap: 4px;

    }

    .menu{
        display: flex;
        flex-direction: row;
        width: 134px;
        justify-content: space-between;

        .link{
           text-decoration: none;
            padding: 0;
            opacity: 0.7;
            font-size: 16px;
            line-height: 19px;
        }
    }

}