.header {
  padding: 43px $sectionPadding 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    width: 134px;
    justify-content: space-between;

    .link {
      text-decoration: none;
      padding: 0;
      opacity: 0.7;
      font-size: 16px;
      line-height: 19px;
      color: #fff;
    }
  }
}
