.gradientButton {
  height: 41px;
  padding: 0 30px;
  background: linear-gradient(264.09deg, #9e2fff -19.41%, #ff9e2f 94.7%);
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
